#pagebuilder_menu{
    position:fixed;
    top: 150px;
    left: 60%;
}
.maintab{
    padding-top: 10px;
}
.text{
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}
a .link{
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color:green;
}

.delete {
    color: #be241a;
    font-size: 23px;
}

.icons span{
    font-size: 23px;
    margin-right: 10px;
    float: right;
}

.insp_buttons{
    width: 100%;
    margin-bottom: 20px;border-bottom: 2px solid #cbcbcb;padding-bottom: 20px;
}
.icon_module {
    transition: box-shadow .3s;
    min-height: 180px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    margin-bottom: 5%;
    padding: 10px;

}
.icon_module .font_icon{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.icon_module:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.buttons{
    margin: auto;
    text-align: center;
}
.buttons a{
    margin-bottom: 15px;
}
.icon_social{
    font-size: 25px;
    color: green;
}

.icon_social:hover{
    color: #00b200;
}

.line{
    padding: 15px 5px 15px 5px;
    border-radius: 20px;
}
.line:hover{
    background-color: rgba(0, 205, 0, 0.17);
}
.info_alert{
    color: red;
    font-weight: bold;
}
.title{
    color:green;
    border-bottom:2px solid green;
    margin-bottom:20px;
    width:675px;
}
#title_shape {
    margin-left: 460px;
    margin-top: -22px;
    width: 222px;
    height: 10px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: green;
    margin-bottom: 25px;

}

.card_item img{
    object-fit: fill;
    width:80%;
}
.card_item{
    text-align: center;
    max-height: 300px;
}


.profile_image{
    text-align: center;
}
.profile_image img{
    border-radius: 40px;
    width: 90%;
}

#file_block, #folder_block {
    display: none;
    position: fixed;
    border-radius: 20px;
    border: 2px solid grey;
    padding: 20px 20px;
    top: 270px;
}

#browser_header {
    position: fixed;
    top: 47px;
    background-color: white;
    z-index: 200;
    min-height: 200px;
    margin-left: 10%;
    padding: 20px 20px;
    border-radius: 30px;
    box-shadow: 5px 10px #888888;

}
#header_block{
    position: fixed;
    top:0px;
    background-color: white;
    z-index: 200;
    display: block;
    width: 100%;
    padding-top: 15px;
}
#header_block a{
    color: green;
    font-weight: 600;
}
#jstree {
    margin-top: 270px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 60px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


/* START File loading spinner style*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid green;
    width: 120px;
    height: 120px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* END File loading spinner style*/

@media (min-width: 768px) {

}
@media (min-width: 1300px) {
    .card_item img{
        object-fit: fill;
        width:80%;
        height:200px;
    }
}

@media (min-width: 1400px) {
    .card_item img{
        object-fit: fill;
        width:80%;
        height:300px;
    }
}
@media (max-width: 992px) {
    #pagebuilder_menu{
        position: initial;
        top:10%;
    }

}